/*-----------------------------------------------------------------------------------*/
/* Iconlib
/* Icons by https://www.svgrepo.com/
/*-----------------------------------------------------------------------------------*/

// phone
@function svg-icon-phone($farbe: false, $width: 0, $height: 0) {
    $path: 'd="M53.364,40.908c-2.008-3.796-8.981-7.912-9.288-8.092c-0.896-0.51-1.831-0.78-2.706-0.78c-1.301,0-2.366,0.596-3.011,1.68
	c-1.02,1.22-2.285,2.646-2.592,2.867c-2.376,1.612-4.236,1.429-6.294-0.629L17.987,24.467c-2.045-2.045-2.233-3.928-0.632-6.291
	c0.224-0.309,1.65-1.575,2.87-2.596c0.778-0.463,1.312-1.151,1.546-1.995c0.311-1.123,0.082-2.444-0.652-3.731
	c-0.173-0.296-4.291-7.27-8.085-9.277c-0.708-0.375-1.506-0.573-2.306-0.573c-1.318,0-2.558,0.514-3.49,1.445L4.7,3.986
	c-4.014,4.013-5.467,8.562-4.321,13.52c0.956,4.132,3.742,8.529,8.282,13.068l14.705,14.705c5.746,5.746,11.224,8.66,16.282,8.66
	c0,0,0,0,0.001,0c3.72,0,7.188-1.581,10.305-4.698l2.537-2.537C54.033,45.163,54.383,42.833,53.364,40.908z"';
    $viewbox: '0 0 53.942 53.942';
    @return svg-buildbackground($path,$viewbox,$farbe,$width,$height);
}
// mobile
@function svg-icon-mobile($farbe: false, $width: 0, $height: 0) {
    $path: 'd="M227.659,567.945h112.618c41.07,0,102.012-32.876,102.012-78.298V83.041C442.289,41.138,398.809,0,354.506,0H213.44
		c-44.303,0-87.784,41.128-87.784,83.041v406.607C125.666,535.06,186.588,567.945,227.659,567.945z M237.26,513.42
		c-40.851-4.466-60.942-14.669-68.267-19.326c5.719-3.309,22.453-9.753,68.267-12.287V513.42z M307.65,514.883
		c-16.717,0.995-35.354,0.976-52.107-0.058v-33.736c8.147-0.248,16.974-0.382,26.651-0.382c9.247,0,17.71,0.124,25.456,0.354
		V514.883z M326.01,513.496v-31.747c47.439,2.62,60.684,9.562,64.078,11.991C384.857,497.967,367.73,508.888,326.01,513.496z
		 M234.171,29.672c0.449-1.243,1.53-2.142,2.859-2.333c0.688-0.105,17.403-2.496,43.834-2.496c15.482,0,31.078,0.832,46.359,2.477
		c1.348,0.144,2.486,1.033,2.973,2.295c0.488,1.253,0.221,2.678-0.688,3.682c-0.65,0.727-16.438,17.777-47.306,17.777
		c-30.849,0-46.655-17.05-47.306-17.777C233.99,32.312,233.731,30.916,234.171,29.672z M161.257,100.435
		c0-1.979,1.606-3.586,3.586-3.586h234.692c1.98,0,3.586,1.606,3.586,3.586v320.066c0,1.979-1.605,3.586-3.586,3.586H164.843
		c-1.979,0-3.586-1.606-3.586-3.586V100.435z"';
    $viewbox: '0 0 567.945 567.945';
    @return svg-buildbackground($path,$viewbox,$farbe,$width,$height);
}
// home
@function svg-icon-home($farbe: false, $width: 0, $height: 0) {
    $path: 'd="M324.442,129.811l-41.321-33.677V42.275c0-6.065-4.935-11-11-11h-26c-6.065,0-11,4.935-11,11v14.737l-55.213-44.999
	c-3.994-3.254-9.258-5.047-14.822-5.047c-5.542,0-10.781,1.782-14.753,5.019L5.8,129.81c-6.567,5.351-6.173,10.012-5.354,12.314
	c0.817,2.297,3.448,6.151,11.884,6.151h19.791v154.947c0,11.058,8.972,20.053,20,20.053h62.5c10.935,0,19.5-8.809,19.5-20.053
	v-63.541c0-5.446,5.005-10.405,10.5-10.405h42c5.238,0,9.5,4.668,9.5,10.405v63.541c0,10.87,9.388,20.053,20.5,20.053h61.5
	c11.028,0,20-8.996,20-20.053V148.275h19.791c8.436,0,11.066-3.854,11.884-6.151C330.615,139.822,331.009,135.161,324.442,129.811z"';
    $viewbox: '0 0 330.242 330.242';
    @return svg-buildbackground($path,$viewbox,$farbe,$width,$height);
}
// mail
@function svg-icon-mail($farbe: false, $width: 0, $height: 0) {
    $path: 'd="M437.5,59.3h-401C16.4,59.3,0,75.7,0,95.8v282.4c0,20.1,16.4,36.5,36.5,36.5h401c20.1,0,36.5-16.4,36.5-36.5V95.8
		C474,75.7,457.6,59.3,437.5,59.3z M432.2,86.3L239.5,251.1L46.8,86.3H432.2z M447,378.2c0,5.2-4.3,9.5-9.5,9.5h-401
		c-5.2,0-9.5-4.3-9.5-9.5V104.9l203.7,174.2c0.1,0.1,0.3,0.2,0.4,0.3c0.1,0.1,0.3,0.2,0.4,0.3c0.3,0.2,0.5,0.4,0.8,0.5
		c0.1,0.1,0.2,0.1,0.3,0.2c0.4,0.2,0.8,0.4,1.2,0.6c0.1,0,0.2,0.1,0.3,0.1c0.3,0.1,0.6,0.3,1,0.4c0.1,0,0.3,0.1,0.4,0.1
		c0.3,0.1,0.6,0.2,0.9,0.2c0.1,0,0.3,0.1,0.4,0.1c0.3,0.1,0.7,0.1,1,0.2c0.1,0,0.2,0,0.3,0c0.4,0,0.9,0.1,1.3,0.1l0,0l0,0
		c0.4,0,0.9,0,1.3-0.1c0.1,0,0.2,0,0.3,0c0.3,0,0.7-0.1,1-0.2c0.1,0,0.3-0.1,0.4-0.1c0.3-0.1,0.6-0.2,0.9-0.2c0.1,0,0.3-0.1,0.4-0.1
		c0.3-0.1,0.6-0.2,1-0.4c0.1,0,0.2-0.1,0.3-0.1c0.4-0.2,0.8-0.4,1.2-0.6c0.1-0.1,0.2-0.1,0.3-0.2c0.3-0.2,0.5-0.3,0.8-0.5
		c0.1-0.1,0.3-0.2,0.4-0.3c0.1-0.1,0.3-0.2,0.4-0.3L447,109.2V378.2z"';
    $viewbox: '0 0 474 474';
    @return svg-buildbackground($path,$viewbox,$farbe,$width,$height);
}
// fax
@function svg-icon-fax($farbe: false, $width: 0, $height: 0) {
    $path: 'd="M51,17V0H9v17H0v34h6v3h3v6h42v-6h3v-3h6V17H51z M11,2h38v15H11V2z M23,28h-3c-0.553,0-1-0.447-1-1s0.447-1,1-1h3
			c0.553,0,1,0.447,1,1S23.553,28,23,28z M24,31c0,0.553-0.447,1-1,1h-3c-0.553,0-1-0.447-1-1s0.447-1,1-1h3
			C23.553,30,24,30.447,24,31z M23,24h-3c-0.553,0-1-0.447-1-1s0.447-1,1-1h3c0.553,0,1,0.447,1,1S23.553,24,23,24z M16,28h-3
			c-0.553,0-1-0.447-1-1s0.447-1,1-1h3c0.553,0,1,0.447,1,1S16.553,28,16,28z M17,31c0,0.553-0.447,1-1,1h-3c-0.553,0-1-0.447-1-1
			s0.447-1,1-1h3C16.553,30,17,30.447,17,31z M16,24h-3c-0.553,0-1-0.447-1-1s0.447-1,1-1h3c0.553,0,1,0.447,1,1S16.553,24,16,24z
			 M9,32H6c-0.553,0-1-0.447-1-1s0.447-1,1-1h3c0.553,0,1,0.447,1,1S9.553,32,9,32z M9,28H6c-0.553,0-1-0.447-1-1s0.447-1,1-1h3
			c0.553,0,1,0.447,1,1S9.553,28,9,28z M9,24H6c-0.553,0-1-0.447-1-1s0.447-1,1-1h3c0.553,0,1,0.447,1,1S9.553,24,9,24z M49,54v4H11
			v-4V37h38V54z M50,32c-2.757,0-5-2.243-5-5s2.243-5,5-5s5,2.243,5,5S52.757,32,50,32z
			M18,9h18c0.553,0,1-0.447,1-1s-0.447-1-1-1H18c-0.553,0-1,0.447-1,1S17.447,9,18,9z
			M42,12H18c-0.553,0-1,0.447-1,1s0.447,1,1,1h24c0.553,0,1-0.447,1-1S42.553,12,42,12z
			M42,43H18c-0.553,0-1,0.447-1,1s0.447,1,1,1h24c0.553,0,1-0.447,1-1S42.553,43,42,43z
			M42,48H18c-0.553,0-1,0.447-1,1s0.447,1,1,1h24c0.553,0,1-0.447,1-1S42.553,48,42,48z"';
    $viewbox: '0 0 60 60';
    @return svg-buildbackground($path,$viewbox,$farbe,$width,$height);
}
// ics
@function svg-icon-ics($farbe: false, $width: 0, $height: 0) {
    $path: 'd="M31.793,41.707C31.988,41.902,32.244,42,32.5,42s0.512-0.098,0.707-0.293l3.293-3.293l3.293,3.293
    C39.988,41.902,40.244,42,40.5,42s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414L37.914,37l3.293-3.293
    c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0L36.5,35.586l-3.293-3.293c-0.391-0.391-1.023-0.391-1.414,0
    s-0.391,1.023,0,1.414L35.086,37l-3.293,3.293C31.402,40.684,31.402,41.316,31.793,41.707z", d="M26.5,0c-0.553,0-1,0.447-1,1s0.447,1,1,1c1.302,0,2.402,0.838,2.816,2h2.083C30.934,1.721,28.914,0,26.5,0z",d="M32.5,0c-0.553,0-1,0.447-1,1s0.447,1,1,1c1.302,0,2.402,0.838,2.816,2h2.083C36.934,1.721,34.914,0,32.5,0z",d="M38.5,0c-0.553,0-1,0.447-1,1s0.447,1,1,1c1.302,0,2.402,0.838,2.816,2h2.083C42.934,1.721,40.914,0,38.5,0z",d="M43.399,4C43.465,4.323,43.5,4.658,43.5,5c0,2.757-2.243,5-5,5c-0.553,0-1-0.447-1-1s0.447-1,1-1c1.654,0,3-1.346,3-3
    c0-0.353-0.072-0.686-0.184-1h-3.917C37.465,4.323,37.5,4.658,37.5,5c0,2.757-2.243,5-5,5c-0.553,0-1-0.447-1-1s0.447-1,1-1
    c1.654,0,3-1.346,3-3c0-0.353-0.072-0.686-0.184-1h-3.917C31.465,4.323,31.5,4.658,31.5,5c0,2.757-2.243,5-5,5
    c-0.553,0-1-0.447-1-1s0.447-1,1-1c1.654,0,3-1.346,3-3c0-0.353-0.072-0.686-0.184-1h-3.917C25.465,4.323,25.5,4.658,25.5,5
    c0,2.757-2.243,5-5,5c-0.553,0-1-0.447-1-1s0.447-1,1-1c1.654,0,3-1.346,3-3c0-0.353-0.072-0.686-0.184-1H18.5h-0.816
    c0.414-1.162,1.514-2,2.816-2s2.402,0.838,2.816,2h2.083c-0.465-2.279-2.484-4-4.899-4s-4.434,1.721-4.899,4H14.5h-14v11v14v2v12v2
    v14h14h2h12h2h12h2h14V45v-2V31v-2V15V4H43.399z M14.5,57h-12V45h12V57z M14.5,43h-12V31h12V43z M14.5,29h-12V17h12V29z M28.5,57
    h-12V45h12V57z M28.5,43h-12V31h12V43z M28.5,29h-12V17h12V29z M42.5,57h-12V45h12V57z M42.5,43h-12V31h12V43z M42.5,29h-12V17h12
    V29z M56.5,57h-12V45h12V57z M56.5,43h-12V31h12V43z M56.5,29h-12V17h12V29z"';
    $viewbox: '0 0 60 60';
    @return svg-buildbackground($path,$viewbox,$farbe,$width,$height);
}